# pins for the ws2812b led strips (grid)
NET "row0" LOC=P114 | IOSTANDARD = LVTTL;
NET "row1" LOC=P115 | IOSTANDARD = LVTTL;
NET "row2" LOC=P116 | IOSTANDARD = LVTTL;
NET "row3" LOC=P117 | IOSTANDARD = LVTTL;
NET "row4" LOC=P118 | IOSTANDARD = LVTTL;

# pins for the ws2812b led strips (player)
NET "redPlayer" LOC=P137 | IOSTANDARD = LVTTL;
NET "greenPlayer" LOC=P138 | IOSTANDARD = LVTTL;

# pins for buttons
NET "btn0" LOC=P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn1" LOC=P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn2" LOC=P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn3" LOC=P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn4" LOC=P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn5" LOC=P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn6" LOC=P78 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn7" LOC=P79 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn8" LOC=P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn9" LOC=P81 | IOSTANDARD = LVTTL | PULLDOWN;
 
NET "btn10" LOC=P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn11" LOC=P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn12" LOC=P84 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn13" LOC=P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn14" LOC=P87 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn15" LOC=P88 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn16" LOC=P92 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn17" LOC=P93 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn18" LOC=P94 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn19" LOC=P95 | IOSTANDARD = LVTTL | PULLDOWN;

NET "btn20" LOC=P97 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn21" LOC=P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn22" LOC=P99 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn23" LOC=P100 | IOSTANDARD = LVTTL | PULLDOWN;
NET "btn24" LOC=P101 | IOSTANDARD = LVTTL | PULLDOWN;