# pins for the ws2812b led strips (grid)
NET "row0" LOC = P114;
NET "row0" IOSTANDARD = LVTTL;
NET "row1" LOC = P115;
NET "row1" IOSTANDARD = LVTTL;
NET "row2" LOC = P116;
NET "row2" IOSTANDARD = LVTTL;
NET "row3" LOC = P117;
NET "row3" IOSTANDARD = LVTTL;
NET "row4" LOC = P118;
NET "row4" IOSTANDARD = LVTTL;

# pins for the ws2812b led strips (player)
NET "redPlayer" LOC = P137;
NET "redPlayer" IOSTANDARD = LVTTL;
NET "greenPlayer" LOC = P138;
NET "greenPlayer" IOSTANDARD = LVTTL;

# pins for buttons
NET "btn0" LOC = P57;
NET "btn0" IOSTANDARD = LVTTL;
NET "btn0" PULLDOWN;
NET "btn1" LOC = P58;
NET "btn1" IOSTANDARD = LVTTL;
NET "btn1" PULLDOWN;
NET "btn2" LOC = P66;
NET "btn2" IOSTANDARD = LVTTL;
NET "btn2" PULLDOWN;
NET "btn3" LOC = P67;
NET "btn3" IOSTANDARD = LVTTL;
NET "btn3" PULLDOWN;
NET "btn4" LOC = P74;
NET "btn4" IOSTANDARD = LVTTL;
NET "btn4" PULLDOWN;
NET "btn5" LOC = P75;
NET "btn5" IOSTANDARD = LVTTL;
NET "btn5" PULLDOWN;
NET "btn6" LOC = P78;
NET "btn6" IOSTANDARD = LVTTL;
NET "btn6" PULLDOWN;
NET "btn7" LOC = P79;
NET "btn7" IOSTANDARD = LVTTL;
NET "btn7" PULLDOWN;
NET "btn8" LOC = P80;
NET "btn8" IOSTANDARD = LVTTL;
NET "btn8" PULLDOWN;
NET "btn9" LOC = P81;
NET "btn9" IOSTANDARD = LVTTL;
NET "btn9" PULLDOWN;
 
NET "btn10" LOC = P82;
NET "btn10" IOSTANDARD = LVTTL;
NET "btn10" PULLDOWN;
NET "btn11" LOC = P83;
NET "btn11" IOSTANDARD = LVTTL;
NET "btn11" PULLDOWN;
NET "btn12" LOC = P84;
NET "btn12" IOSTANDARD = LVTTL;
NET "btn12" PULLDOWN;
NET "btn13" LOC = P85;
NET "btn13" IOSTANDARD = LVTTL;
NET "btn13" PULLDOWN;
NET "btn14" LOC = P87;
NET "btn14" IOSTANDARD = LVTTL;
NET "btn14" PULLDOWN;
NET "btn15" LOC = P88;
NET "btn15" IOSTANDARD = LVTTL;
NET "btn15" PULLDOWN;
NET "btn16" LOC = P92;
NET "btn16" IOSTANDARD = LVTTL;
NET "btn16" PULLDOWN;
NET "btn17" LOC = P93;
NET "btn17" IOSTANDARD = LVTTL;
NET "btn17" PULLDOWN;
NET "btn18" LOC = P94;
NET "btn18" IOSTANDARD = LVTTL;
NET "btn18" PULLDOWN;
NET "btn19" LOC = P95;
NET "btn19" IOSTANDARD = LVTTL;
NET "btn19" PULLDOWN;

NET "btn20" LOC = P97;
NET "btn20" IOSTANDARD = LVTTL;
NET "btn20" PULLDOWN;
NET "btn21" LOC = P98;
NET "btn21" IOSTANDARD = LVTTL;
NET "btn21" PULLDOWN;
NET "btn22" LOC = P99;
NET "btn22" IOSTANDARD = LVTTL;
NET "btn22" PULLDOWN;
NET "btn23" LOC = P100;
NET "btn23" IOSTANDARD = LVTTL;
NET "btn23" PULLDOWN;
NET "btn24" LOC = P101;
NET "btn24" IOSTANDARD = LVTTL;
NET "btn24" PULLDOWN;
